DB_USER=postgres # стандартное имя пользователя для PostgreSQL, можно изменить при необходимости
DB_PASSWORD=<ПАРОЛЬ ДЛЯ БД>
DB_PORT=5432 # стандартный порт для PostgreSQL, можно изменить при необходимости
DB_NAME=<ИМЯ БД>
DATABASE_URL=postgresql://postgres:<ПАРОЛЬ ДЛЯ БД>@localhost:5432/<ИМЯ БД>?schema=public