[submodule "frontend-form"]
	path = frontend-form
	url = git@github.com:ddanyo/frontend-feedback-form.git
[submodule "frontend-table"]
	path = frontend-table
	url = git@github.com:ddanyo/frontend-feedback-table.git
[submodule "backend-go"]
	path = backend-go
	url = https://github.com/ddanyo/backend-feedback-go.git
